@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family:'Roboto','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
.btn + .btn{
  margin-left: 5px;
}
.contain{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scroll:hover{
  background-color: white;
}
li+li{
  margin-left: 0.5rem;
}
li{
  display: inline;
}

@media (max-width:792px){
  .best{
    display: flex;
    flex-direction: column;
  }
  .moreAbout{
    display: flex;
    flex-direction: column;
  }
}

